/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * css since 2023 by huda
 */


  /*-----------------------------------*\
 * #THEME COLORS warna acuan untuk tema
\*-----------------------------------*/

body.dark_theme {

    --bg-primary: hsl(0, 0%, 0%);
    --bg-secondary: hsl(0, 0%, 19%);
    --color-primary: hsl(0, 14%, 87%);
    --color-secondary: hsl(0, 0%, 62%);
    --card-shadow: rgba(145, 239, 255, 0.5);
    --input-bg: hsl(10, 0%, 16%);
  
    --shadow-1: 10px 10px 40px var(--card-shadow);
  
  }

/*-----------------------------------*\
 * #HEADER
/* \*-----------------------------------* */

/* NAVBAR */
:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: hsl(0, 0%, 62%);
    font-family: Raleway, sans-serif;
    
  }
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: absolute;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 10px 10px 40px rgba(202, 253, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    color: aliceblue;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  .navbar-logo {
    text-align: right;
    --navbar-text-color:var(--navbar-text-color-focus);
  }

  /* gambar about */

  .about {
    display: grid;
    z-index: 0;
  }
  
  .about-banner {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
  }
  
  .logo-aboutus {
    max-width: 100%;
    height: auto;
    margin: 60px auto;
    border-radius: 8px; /* Tambahkan border-radius untuk sudut gambar */
  
  }



  /*-----------------------------------*\
 * #content : proker
/* \*-----------------------------------* */
.row {
    margin-bottom: 20px; /* Add margin between rows for spacing */
  }
  
.card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .card-h1 {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgba(145, 239, 255, 0.5);
    background-color: #90938f;
  }
  
.bordered-box {
    border: 2px solid #3498db; /* Set border properties */
    background-color: #ecf0f1; /* Set background color */
    padding: 10px; /* Add padding for space inside the box */
    border-radius: 5px; /* Add rounded corners */
  }
  /* Optional: Add hover effect */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .social-media{
    display: flex;
    justify-content: space-evenly;
  }

/*-----------------------------------*\
 * #Anggota
/* \*-----------------------------------* */
.cards-container {
    display: grid;
    grid-gap: 20px;
    margin: 80px;
    grid-template-columns: repeat(3,1fr);
  }
  
  .card-anggota {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-anggota img {
    width: 100%; /* Gambar akan mengambil lebar maksimum dari parent (card) */
    height: auto; /* Memastikan aspek rasio gambar tetap terjaga */
    border-radius: 6px; /* Menambahkan sudut melengkung pada gambar jika diperlukan */
  }
  
  @media (max-width: 1000px) {
    .cards-container {
      grid-template-columns: repeat(7,1fr);
    }

    @media (max-width: 800px) {
      .cards-container {
        grid-template-columns: repeat(1,1fr);
      }
  
    .card-anggota {
      width: 80%;
      max-width: 400px;
    }
  }





  /*-----------------------------------*\
 * #Css By si tampan
/* \*-----------------------------------* */
  .container {
    padding-inline: 10px;
  }
  
  .bar-top {
    width: 100%;
    height: 10px;
    position: fixed;
    animation: progress-horizontal,progress-color;
    top: 0;
    left: 0;
    animation-timeline:scroll();
    transform-origin: 0%;
  
  }
  
  .bar-bottom {
    width: 100%;
    height: 5px;
    position: fixed;
    animation: progress-horizontal, progress-color;
    bottom: 0;
    left: 0;
    animation-timeline:scroll();
    transform-origin: 100%;
  
  }
  
  .bar-left {
    width: 6px;
    height: 100%;
    position: fixed;
    animation: progress-vertical, progress-color;
    bottom: 0;
    left: 0;
    animation-timeline:scroll();
    transform-origin: 0 100%;
  
  }
  
  .bar-right {
    width: 6px;
    height: 100%;
    position: fixed;
    animation: progress-vertical, progress-color;
    bottom: 0;
    right: 0;
    animation-timeline:scroll();
    transform-origin: 0 0%;
  
  }
  
  @keyframes progress-vertical {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  @keyframes progress-horizontal {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes progress-color {
    0% {
      background-color: blueviolet;
    }
    20% {
      background-color: red;
    }
    50% {
      background-color: blue;
    }
    70% {
      background-color: greenyellow;
    }
    100% {
      background-color: aqua;
    }
  }
  }